.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    margin-bottom: 20px;
   
    .header__list{
        display: flex;
       
    }
}

.header__list-item{
    margin-right: 22px;
   
    &:last-child{
        margin-right: 0;
    }
    .header__link:hover{
        background: #FEDB3F;
        color: black;
        border-radius: 50px;
    }
}
.phone-number{
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    &:before{
        content: url(../img/telephone.svg);
    }
}