.headline{
    text-align: center;
}


.headline__title{
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    
    text-align: center;
    color: #000;
}
.headline__subtitle{
    padding: 0 26%;
    margin-bottom: 50px;
}